
/* if you reference the stylesheet in index.html, you can call it from other css files */

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 -10vh;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}
