
/* if you reference the stylesheet in index.html, you can call the animation from other css files */

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 -4vh;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}
