
/* by CLASS */

.parent_layout {
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease;
}

.row_layout {
    display: flex;
}

.column_layout {
    display: flex;
    flex-direction: column;
}

.grid_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, 31rem);
    gap: .8rem;
    /* justify-content: center; */
}

.checkbox_layout {
    align-items: center;
    column-gap: .2rem;
}

.book_entry_layout {
    column-gap: .4rem;
    padding: .4rem;
    height: 6rem;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(#414a4c, #3b444b); */
}

.book_data_layout {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.book_subtitle_layout {
    column-gap: .4rem;
    margin-top: .4rem;
}

.authors_layout {
    width: 16rem;
    overflow: hidden;
    white-space: nowrap;
}

.book_footer_layout {
    margin-top: auto;
}

.textbox_layout {
    margin-top: .8rem;
    row-gap: .2rem;
}

.hidden_filters_layout {
    margin-left: calc(-15.6rem - 1px); /* width (14rem) plus padding left (.8rem) and right (.8rem) plus border width (1px) */
}

.dialog_parent_layout {
    padding: 0;
    margin: 0;
}

/* by ID */

#filters_layout {
    transition: margin-left 1s ease;
    width: 14rem;
    border-right: 1px solid hsla(214, 53%, 23%, 0.16);
    border-top: 1px solid hsla(214, 53%, 23%, 0.16);
    padding: .4rem .8rem;
    overflow-y: auto;
}

#filters_title_layout {
    margin-top: .2rem;
}

#main_layout {
    width: 100%;
    overflow: hidden;
}

#header_layout {
    padding: .5rem;
    column-gap: .5rem;
    border-bottom: 1px solid hsla(214, 53%, 23%, 0.16);
    border-top: 1px solid hsla(214, 53%, 23%, 0.16);
}

#subject_layout {
    margin-left: -.2rem;
}

#grid_holder {
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(#9198e5, #e66465);
    padding: 1rem;
}

#database_dialog {
    border: none;
    height: fit-content;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &[open] {
        animation: fadeIn ease 1s forwards;
    }
}

#database_dialog_layout {
    row-gap: 1rem;
    padding: .8rem;
}

#set_as_default_layout {
    align-items: center;
    column-gap: .4rem;
}

#database_layout {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#load_database_layout {
    background: white;
    gap: .4rem;
    width: fit-content;
    align-items: center;
    padding: .5rem;
}

#database_buttons_layout {
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

#database_options_layout {
    align-items: center;
    padding: .5rem .8rem;
    background-color: hsla(214, 57%, 24%, 0.1);
}

#load_another_db_layout {
    margin-top: .2rem;
    column-gap: .4rem;
}
